doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Employ Details
  body 
    h1 Employ Details
    div   
      label Name:
      span= emp.name
    div   
      label Email:
      span= emp.email
    div   
      label Phone:
      span= emp.phone
    h4 
      a(href="/emp/login") Back to Login