doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Employee List
  body 
    h3 
      a(href="/emp/create") Create New
    div
      form(action="/emp/search")
        lable Keyword:
        input(type="text", name="keyword")
        input(type="submit" value="Search")
    h1 Employee List
    
    table
      thead
        tr
          th Name
          th Email
          th Phone
      tbody
        if emps != null && emps.length > 0
          each emp in emps
            tr
              td= emp.name
              td= emp.email
              td= emp.phone
        else
          tr
            td(colspan="3") No record found
              
    